.Card{
    flex: 1;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.Card .Form{
    flex: 1;
    padding: 15px 0;
    background-color: #FFFFFF;
}

